body {
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(skyblue 80%, lightgreen 20%);
}

.bird {
    position: absolute;
    top: 300px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.bird__hit {
    background: red !important;
}

.counter {
    font-style: sans-serif;
    margin-left: auto;
    border: 3px solid black;
    text-align: center;
    font-size: 8.5em;
    width: 270px;
    height: 150px;
    background: lightblue;
}